
body {
    background-color: #7967F5;
}

.Father {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: #FFFFF;
    font-size: x-large;
    font-weight: 900;
    background-color: #D767F5;
}
.element {
    padding: 0px, 1rem, 0px, 1rem;
    background-color: #7967F5;
}

.element p {
    padding: .5rem;
    margin: 1rem;
    background-color: #F567D8;
}

h1 {
    text-align: center;
}

section {
    margin: 1rem 5rem;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
table {
    padding: 5rem;
    border-collapse: collapse;
}

thead {
    font-weight: 1000;
    font-size: larger;
}

tr, td {
    border: 3px solid;
    border-color: #F56783;
    padding: 1rem;
  }